{% extends 'atp/base.html' %}
{% load static %}
{% block title %}模块执行统计{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/atp/test_case.css' %}">
{% endblock %}

{% block content %}
    <p style="margin-left: 10px;">
        <span style="margin-left: 5px;">模块内用例执行结果统计：成功 {{ success }} 次，失败 {{ fail }} 次</span>
    <p>
    <div id="main" style="width: 600px;height:400px; margin-left: 10px;"></div>
    {#    <script type="text/javascript" src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>#}
    <script type="text/javascript" src="{% static 'js/atp/echarts.min.js' %}"></script>
    <script>
        echarts.init(document.getElementById('main')).setOption({
            series: {
                type: 'pie',
                color: ['green', 'red'],
                data: [
                    {name: '成功的次数', value: {{ success }}},
                    {name: '失败的次数', value: {{ fail }}},
                ]
            }
        });
        echarts.init(document.getElementById('main')).setOption({
            title: {
                text: '结果统计',
                subtext: '即时数据',
                left: 'center'
            },
            tooltip: {
                trigger: 'item'
            },
            legend: {
                orient: 'vertical',
                left: 'left'
            },
            series: {
                name: '结果统计',
                radius: '55%',
                type: 'pie',
                color: ['green', 'red'],
                data: [
                    {name: '执行成功次数', value: {{ success }}},
                    {name: '执行失败次数', value: {{ fail }}},

                ],
                label: {  // 饼图图形上的文本标签
                    normal: {
                        show: true,
                        formatter: "{b} : {c} ({d}%)"
                    }
                }
            }
        });
    </script>


    <div class="table-responsive">
        <h1 style="text-align: center">【{{ module.name }}】模块包含用例：</h1>
        <hr width=50% style="border:1px dashed gray;height:2px">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th width="5%">id</th>
                    <th width="8.3%">用例名称</th>
                    <th width="8.3%">所属项目</th>
                    <th width="8.3%">所属模块</th>
                    <th width="8.3%">接口地址</th>
                    <th width="8.35%">请求方式</th>
                    <th width="20%">请求数据</th>
                    <th width="8.3%">断言key</th>
                    <th>关联用例ID</th>
                    <th width="20%">提取变量表达式</th>
                </tr>
                </thead>
                <tbody>

                {% for test_case in pages %}
                    <tr>
                        <td>{{ test_case.id }}</td>
                        <td>
                            <a href="{% url 'main_platform:test_case_detail' test_case.id %}" target="_blank">{{ test_case.case_name }}</a>
                        </td>
                        <td>{{ test_case.belong_project.name }}</td>
                        <td>{{ test_case.belong_module.name }}</td>
                        <td>{{ test_case.uri }}</td>
                        <td>{{ test_case.request_method }}</td>
                        <td>{{ test_case.request_data }}</td>
                        <td>{{ test_case.assert_key }}</td>
                        <td>{{ test_case.related_case_id }}</td>
                        <td>{{ test_case.extract_var }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    <div id="pages" class="text-center">
        <nav>
            <ul class="pagination">
                <li class="step-links">
                    {% if pages.has_previous %}
                        <a class='active' href="?page={{ pages.previous_page_number }}">上一页</a>
                    {% endif %}

                    <span class="current">
                        第 {{ pages.number }} 页 / 共 {{ pages.paginator.num_pages }} 页</span>

                    {% if pages.has_next %}
                        <a class='active' href="?page={{ pages.next_page_number }}">下一页</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>

{% endblock %}
